@charset "utf-8";
/* CSS Document */

*{
	font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	box-sizing: border-box;
}
body,div,ul,ol,li,h1,h2,h3,p{
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 16px;
}
a{
	text-decoration: none;
	color: #222;
}
li{
	list-style: none;
}
html{
	overflow-x: hidden;
}

/*------------- reset -------------*/
#wrapper{
	width: 88vw;
	margin: 0 auto;
}
#wrapper .branch{
	position: fixed;
	width: 4vw;
	height: 100vh;
	left: 0;
	background-color: #231815;
}

#header{
	position: fixed;
	right: 0;
	top: 70%;
	transform: translate(46%) rotate(-90deg);
	z-index: 999;
}

#header .global-nav{
	width: 40vh;
	height: 2vh;
	display: flex;
	justify-content: space-between;
}

#header .global-nav a{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 2.5vh;
	background-color: #231815;
	color: #FFF;
}
/*------------- nav -------------*/
#top{
	padding-top: 10vh;
	width: 100%;
	height: 100vh;
}

#top .inner{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	position: relative;
}

#top .inner .date p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	font-size: 6vw;
	
	text-align: right;
	margin-right: 5vw;
}

#top .inner .date {
	position: absolute;
	bottom: 30%;
	right: 2%;
}

@media (min-width: 640px) {
  #top .inner .date p{
    font-size: calc(16px + ((1vw - 6.4px)*3.571));
  }
}

#top .inner .mainvisual #logo-video{
	width: 100%;
	max-height: 70vh;
}

#top .inner .catch{
	position: absolute;
	bottom: 15%;
	left: 50%;
	transform: translate(-50%);
	width: 40vw;
	max-width: 300px;
}

#top .inner .catch img{
	width: 100%;
}

#top .inner .line-animation{
	position: absolute;
	border-right: solid 1.5px #231815;
	height: 7vh;
	left: 50%;
	bottom: 5%;
	
}
/*------------- top -------------*/

#concept{
	padding-top: 10vh;
	width: 80vw;
	margin: 0 auto;
}

#concept h3{
	width: 100%;
	text-align: center;
	font-size: 10px;
	margin-bottom: 25px;
}

#concept h2{
	position: relative;
	margin: 0 auto;
	width: 90%;
	margin-bottom: 25px;
}

#concept h2 img{
	height: 5vh;
	display: block;
	margin: 0 auto;
}

#concept h2 .bg1{
	background: url("") no-repeat;
	background-size: contain;
	height: 14vh;
	width: 14vh;
	position: absolute;
	left: -2vh;
	top: -8vh;
}


#concept p{
	font-size: 14px;
}

#concept p.rubi{
	text-align: center;
	font-size: 8px;
	margin-bottom: -5px;
}
#concept  p.title{
	text-align: center;
	font-size: 22px;
	margin-bottom: 15px;
}


.concept-wrap {
  	position: relative;
	padding: 0vh 0 15vh 0;
}

/*.concept-wrap .bg{
	background-image: url("../images/paint-green.png");
	background-repeat: no-repeat;
	width: 50vw;
	height: 50vh;
	position: absolute;
	left: -10vw;
	top: 30vh;
}*/


@media (max-width: 640px) {

	.concept-wrap + .concept-wrap {
		margin-top: 40px;
	}
	.grad-trigger {
		z-index: 2;
		font-family: 'Montserrat', sans-serif;
		position: absolute;
		right: 0;
		bottom: 8vh;
		left: 0;
		width: 128px;
		margin: auto;
		padding-bottom: .2em;
		border-radius: 3px;
		border: solid 1px #231815;
		color: #231815;
		font-size: 1.2rem;
		text-align: center;
		cursor: pointer;
		transition: .2s ease;
		box-shadow: 0 0 3px rgba(0,0,0,.3);
	  /*ボタンのスタイルはご自由にどうぞ*/
	}
	.grad-trigger::after {
		content: "more" /*クリック前のボタンのラベル*/
	}
	.grad-trigger .fa {
		margin-right: .5em;
	}
	.grad-item {
		position: relative;
		overflow: hidden;
	}
	.grad-item.is-hide {
		height: 80vh; /*隠した後の高さ*/
	}
	.grad-item::before {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		content: "";
		width: 100%;
		height: 40px; /*グラデーションで隠す高さ*/
		background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
		background: -o-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
		background: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0.9) 50%, #fff 100%);
	}
	.grad-trigger.is-show {
		bottom: 5vh;
	}
	.grad-trigger.is-show::after {
		content: "close" /*クリック後にボタンのラベルを変える*/
	}
	.grad-trigger.is-show + .grad-item::before {
		display: none;
	}
}

@media screen and (min-width : 1024px) {
	#concept{
	width: 1000px;
  }
  #concept p{
	width: 800px;
	  margin: 0 auto;
	font-size: calc(22px);
  }
  #concept p.title{
	margin-bottom: 50px;
  }
}/*
@media screen and (min-width : 768px){
	#concept{
	width: 1500px;
  }
  #concept p{
	width: 1500px;
	font-size: calc(40px);
  }
  #concept p.title{
	margin-bottom: 150px;
  }
}
 */

/*------------- concept -------------*/



#gallery{
	padding-top: 10vh;
	width: 100%;
	height: 100vh;
}

#gallery .gallery-inner{
	width: 80vw;
	margin: 0 auto;
}

#gallery h3{
	width: 100%;
	text-align: center;
	font-size: 10px;
	margin-bottom: 25px;
}

#gallery h2{
	margin: 0 auto;
	width: 90%;
	margin-bottom: 25px;
}

#gallery h2 img{
	height: 5vh;
	display: block;
	margin: 0 auto;
}

/*------------- swiper config  -------------*/
#gallery .gallery-container{
	width: 100%;
	height: 65vh;
}
#gallery .swiper-container{
	width: 100%;
	height: 100%;
}

#gallery .swiper-slide{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}

#gallery .swiper-slide a{
	width: 45%;
}

#gallery .swiper-slide a img{
	width: 100%;
}

#gallery .swiper-container .swiper-pagination{
	bottom: 0px;
}
.item_wrapper:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

.item_wrapper img{
	width: 38vw;
}
.item_wrapper{
	height: 65vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-around;
}

.item {
  width: 38vw;
}





@media (min-width: 1280px) {
	
	#gallery {
		width: 1000px;
		height: 1500px;
		margin: 0 auto;
	}
	#gallery .gallery-inner{
	  	width: 1000px;
	  	height: 1200px;
  	}

  	#gallery .gallery-container{
	 	height: 1200px;
	  	margin: 0 auto;
  	}
	#gallery .swiper-wrapper,.swiper-container{
		height: 100%;
	}
  	#gallery .swiper-slide a{
		width: 480px;
}
	.item{
		width: 480px;
	}
}
/*------------- gallery -------------*/

#offShot{
	padding-top: 10vh;
	width: 100%;
	margin-bottom: 100px;
}

#offShot .gallery-inner{
	width: 80vw;
	margin: 0 auto;
}

#offShot h3{
	width: 100%;
	text-align: center;
	font-size: 10px;
	margin-bottom: 25px;
}

#offShot h2{
	margin: 0 auto;
	width: 70vw;
	margin-bottom: 25px;
}

#offShot h2 img{
	height: 4vh;
	display: block;
	margin: 0 auto;
}


#offShot p img{
	width: 100%;
}

#offShot .gallery-container{
	width: 100%;
	background-color: yellowgreen;
	overflow: hidden;
}

#offShot h3.title{
	font-size: 20px;
	margin-top: -10px;
}

#offShot .offShot-inner .project{
	width: 75vw;
	margin: 0 auto;
}

#offShot .offShot-inner .project iframe{
	width: 75vw;
	margin: 0 auto;
}


@media (min-width: 1280px) {
	#offShot .offShot-inner .project{
	width: 1000px;
	height: 562px;
	margin: 0 auto;
}
	#offShot .offShot-inner .project iframe{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

}


/*------------- offShot -------------*/


#footer{
	position: relative;
	width: 100%;
	background-color: #231815;
	padding: 50px 20px 20px 20px;
}

#footer .footer-nav{
    text-align: center;
    margin-bottom: 8%;
}
#footer .footer-nav li{
    font-size: 14px;
    letter-spacing: 0.05em;
    margin-bottom: 4%;
}
#footer .footer-nav a{
	color: #fff;
	font-family: 'Montserrat', sans-serif;
}

#footer .logo{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

#footer .copyRight{
	text-align: center;
	color: #fff;
	margin-top: 20px;
	padding: 10px;
	font-size: 10px;
}

#footer .date p{
	color: #fff;
	width: 65vw;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}


@media (min-width: 1280px) {
	#footer-inner{
		position: relative;
		width: 1200px;
		margin: 0 auto;
	}
	#footer .footer-nav{
		display: flex;
		justify-content: space-between;
		width: 600px;
		font-size: 16px;
		margin: 0 auto;
	}
	#footer .logo{
		position: absolute;
		left: 0;
		top: -20px;
	}
	#footer .logo .date{
		display: none;
	}
}


/*------------- footer -------------*/

.fadeIn {
	opacity: 0;
  	transform: translateY(20px);
  	transition: all 1s;
}


@media (min-width: 1280px) {
	#concept h3 , #gallery h3 , #offShot h3{
		font-size: 16px;
	}
}




